<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type"content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Lista de Convidados</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"www.algaworks.com 31 crossorigin="anonymous"/>
    </head>

    <body>
    
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de Convidados</h1>
            </div>

            <div class="panel-body">
                <form class="form-inline" method="POST" th:action="@{/convidados}" th:object="${convidado}" style="margin: 20px 0">
                    <input type="number" name="id" id="id" th:value="${convidado.id}" style="display: none">
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{nome}" placeholder="Nome">
                        <input type="text" class="form-control" th:field="*{quantidadeAconpanhantes}" placeholder="Aconpanhantes">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
                <table class="table"> 
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Aconpanhantes</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="convidado : ${convidados}">
                            <th th:text="${convidado.nome}"></th>
                            <th th:text="${convidado.quantidadeAconpanhantes}"></th>
                            <th><a th:href="@{'/excluir/' + ${convidado.id}}" class="btn btn-primary">Excluir</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>